<section class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center service-title">
                <h1 class="text-uppercase title-text">Services Offer</h1>
                <p class="para">
                    This are the services offered
                </p>
            </div>
        </div>
    </div>
    <div class="container service-list ">
        <div class="row">
            <div class="col-lg-3 clo-md-6 col-sm-12">
                <div class="services">
                    <div class="service-img text-center py-4">
                        <img src="../../assets/services/s1.png" alt="service 1">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto"> WordPress Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam architecto cum cumque earum explicabo incidunt laboriosam necessitatibus numquam sit?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 clo-md-6 col-sm-12">
                <div class="services">
                    <div class="service-img text-center py-4">
                        <img src="../../assets/services/s2.png" alt="service 2">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto"> WordPress Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam architecto cum cumque earum explicabo incidunt laboriosam necessitatibus numquam sit?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 clo-md-6 col-sm-12">
                <div class="services">
                    <div class="service-img text-center py-4">
                        <img src="../../assets/services/s3.png" alt="service 3">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto"> WordPress Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam architecto cum cumque earum explicabo incidunt laboriosam necessitatibus numquam sit?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 clo-md-6 col-sm-12">
                <div class="services">
                    <div class="service-img text-center py-4">
                        <img src="../../assets/services/s4.png" alt="service 4">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto"> WordPress Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam architecto cum cumque earum explicabo incidunt laboriosam necessitatibus numquam sit?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
