<div>
    <div class="contact">
        <b-button v-b-toggle.my-collapse class="alert-dark">Contact Me</b-button>
    </div>
    <b-container>
        <b-collapse id="my-collapse">
            <b-card title="Message Us">
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                    <b-form-group
                            id="input-group-1"
                            label="Email address:"
                            label-for="input-1"
                            description="We'll never share your email with anyone else."
                    >
                        <b-form-input
                                id="input-1"
                                v-model="form.email"
                                type="email"
                                required
                                placeholder="Enter email"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                        <b-form-input
                                id="input-2"
                                v-model="form.name"
                                required
                                placeholder="Enter name"
                        ></b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="dark" class="m-2">Submit</b-button>
                    <b-button type="reset" variant="dark" class="m-2">Reset</b-button>
                </b-form>
            </b-card>
        </b-collapse>
    </b-container>
</div>
