
<b-jumbotron class=" lander  p-3 mb-5  rounded">
    <section class="section">
        <div class="animated">
            <img src="../../assets/0.jpg" alt="Modamori Oluwayomi" class="rounded-circle">
            <h1> Modamori Oluwayomi</h1>
            <h2> Software </h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi assumenda atque cumque cupiditate eaque eius eligendi expedita fugiat ipsum itaque, nesciunt, nulla odit placeat quae similique unde vero.
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi debitis enim error eveniet minima nostrum qui sint tempora? Facere facilis in iure laboriosam maiores odio, perspiciatis sequi tempore voluptas.</p>
        </div>
    </section>
</b-jumbotron>
