
<b-jumbotron class=" lander  p-3 mb-5  rounded">
    <section class="section">
        <div class="animated">
            <img src="../../assets/0.jpg" alt="Modamori Oluwayomi" class="rounded-circle">
            <h1> Software Developer</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi debitis enim error eveniet minima nostrum qui sint tempora? Facere facilis in iure laboriosam maiores odio, perspiciatis sequi tempore voluptas.</p>
        </div>
    </section>
</b-jumbotron>
